.link-icon {
  display: flex;
  align-items: center;

  @include tablets {
    justify-content: center;
  }

  @include phones {
    justify-content: flex-start;
  }
}

.link-icon__icon {
  height: 15px;
  fill: $lavender;
  margin-right: 20px;
}

.link-icon__text {
  font-size: 18px;
  font-weight: 700;
  color: $lavender;
  transition: .4s;

  &:hover {
    text-decoration: underline;
  }
}