.link-icon {
  display: flex;
  align-items: center;
}

.link-icon__icon {
  height: 15px;
  fill: $lavender;
  margin-right: 20px;
}

.link-icon__text {
  font-size: 18px;
  font-weight: 700;
  color: $lavender;

  &:hover {
    text-decoration: underline;
  }
}