.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include tablets {
    justify-content: flex-start;
  }
}

.menu__item {
  margin-right: 60px;
  transition: .4s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $orange;
  }

  @include tablets {
    margin-bottom: 20px;
  }
}