.profit {
  position: relative;
  background: url('~images/content/bg_skills.jpg') center center / cover no-repeat;

  &:before {
    content: '';
    position: absolute;
    background: url('~images/content/hands.png') bottom left / contain no-repeat;
    width: 30%;
    height: 100%;
    left: 0;
    bottom: -74px;
  }
}

.profit__desc {
  margin: 0 auto 10%;
  width: 45%;
}

.profit__text {
  font-weight: 600;
  opacity: 0.5;
}