.reviews {
  height: 60%;
  display: flex; 
  align-items: center;

  & .container {
    justify-content: center; 
  }
}

.reviews__header {
  display: flex;

  &--left {
    margin-right: 120px;
  }
}

.reviews__slider {
  width: 80%;
}

.reviews__list {
  width: 80%;
}

.reviews__content p {
  min-height: 130px;
}

.reviews__form {
  width: 60%;
}