.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;

  @include phones {
    font-size: 24px;
  }
}

.section-title--30px {
  font-size: 30px;
  margin-bottom: 30px;

  @include phones {
    font-size: 24px;
  }
}

