.socials__list {
  display: flex;
  justify-content: space-between;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: block;
  width: 25px;
  height: 25px;
  fill: #69605b;

  &:hover {
    fill: #fff;
  }
}

