.tags {
  display: flex;
  font-size: 15px;

  @include tablets {
    justify-content: center;
  }
}

.tags__item {
  background-color: rgba(#859ec2, 0.1);
  border-radius: 50px;
  padding: 16px 20px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}