.userinfo__avatar {
  margin: 0 auto 75px;
}
.userinfo__list {
  border-collapse: separate;
  border-spacing: 60px 20px;
  margin: 0 auto;
}

.userinfo__item {
  font-weight: 600;
}

.userinfo__item-title {
  opacity: 0.15;
}