.works {
  color: $black;
  position: relative;
  padding: 15% 0;
}

.works__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.works__title {
  margin-bottom: 5%;
}
