.works {
  color: $black;
  position: relative;
}

.works__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 1fr;
  grid-template-areas: 
    'works-title'
    'slider';
}

.works__title {
  grid-area: works-title;
  align-self: center;
}