script(type='text/x-template')#skills-list            
  ul.profit__skills.skills
    li.skills__item(v-for='skill in skills' :key='skill.skillsTitle')
      skills-block(
        :skill='skill'
      )

script(type='text/x-template')#skills-block 
  .skill-block
    h3.skill-block__title {{skill.skillsTitle}}
    ul.skill-block__list
      li.skill-block__item(v-for='(skillItem, skillName) in skill.skills')
        skill(
          :skill-name='skillName'
          :skill-item='skillItem'
        )
        
script(type='text/x-template')#skill        
  .skill
    span.skill__name {{ skillName }}
    svg.skill__percent(viewBox='0 0 100 100' preserveaspectratio='none')
      circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
      circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' ref='colored-circle')
      +circle-gradient
