include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      main.main
        .parallax.fullscreen-section
          .parallax__layer.parallax__layer--1(data-speed="0.09")
            +image('content/parallax/prlx_1.jpg', 'parallax__img')
          .parallax__layer.parallax__layer--2(data-speed="0.11")
            +image('content/parallax/prlx_2.png', 'parallax__img')
          .parallax__layer.parallax__layer--3(data-speed="0.08")
            +image('content/parallax/prlx_3.png', 'parallax__img')
          .parallax__layer.parallax__layer--4(data-speed="0.14")
            +image('content/parallax/prlx_4.png', 'parallax__img')
          .parallax__none.parallax__none--top
            +image('content/hello_bg_top.jpg', 'parallax__img')
          .parallax__none.parallax__none--bottom
            +image('content/hello_bg_bottom.png', 'parallax__img')

          section.hello#hello
            .container.hello__container
              header.header
                .header__block
                  .logo КИ
                .header__block.header__menu
                  +menu('menu', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .header__block.header__socials
                  +socials('socials')
                a.header__hamburger
                  .hamburger
              .hello__content
                h1.hello__title Личный сайт веб разработчика
                h2.hello__subtitle Катерина Иваненко
              .hello__scroll
                a.scroll(href="#")
                  span.scroll__text Скролл
                  .scroll__icon

          section.about#about
            .container.about__container
              .about__left
                .userinfo
                  .avatar.userinfo__avatar
                    +image('content/users/me.jpeg', 'avatar__pic')
                  .userinfo__desc
                    +userinfo('userinfo')
              .about__right
                h4.about__subtitle Привет, меня зовут
                h2.section-title.about__title Катерина Иваненко
                p.about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
                p.about__desc--italic Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво! 
        
        section.profit#profit
          .container.profit__container
            .profit__desc
              h2.section-title--30px Чем я могу быть полезна вам
              .profit__text
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
            #skills-component
        section.works#works
          .container.works__container
            h2.section-title.works__title Мои работы
            .slider
              #slider-component
        .section-wrap.section-wrap--bg--leaves.reviews-wrap
          section.reviews#reviews
            #reviews-component
          section.contacts#contacts
            .container.contacts__container
              h2.section-title.contacts__title Связаться со мной
              .contacts__form
                form.form
                  .form__row
                    label.form__elem
                      span.form__label Введите ваше имя
                      input.form__input.form__input--name(type="text" name="name" placeholder="Введите ваше имя")
                    label.form__elem
                      span.form__label Введите ваш email
                      input.form__input.form__input--email(type="text" name="email" placeholder="Введите ваш email")
                  .form__row
                    label.form__elem
                      span.form__label Сообщение к письму
                      textarea.form__input.form__input--textarea(type="text" name="msg" placeholder="Сообщение к письму")
                  .form__row
                    button.form__btn(type="submit") Отправить

        footer.footer
          .container.footer__container
            .footer__cprt &copy; 2019
            .footer__title
              span.footer__name Катерина 
              span.footer__name Иваненко
              span.footer__subtitle Личный сайт веб-разработчика
            .footer__menu
              +menu('menu', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
            .footer__desc 
              p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool
              +socials('socials', 'socials--circle')
            .footer__quote 
                p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                span.footer__desc--italic--white Martin Golding

    include ./templates/entry.pug