include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      main.main
        .section-wrap.section-wrap--bg--mountains
          section.hello.fullscreen-section
            .container.container--col
              header.header
                .header__block
                  .logo КИ
                .header__block
                  +menu('menu', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
                .header__block
                  +socials('socials')
                .header__block(hidden)
                  .hamburger
              .hello__content
                h1.hello__title Личный сайт веб разработчика
                h2.hello__subtitle Катерина Иваненко
              .hello__scroll
                a.scroll(href="#")
                  span.scroll__text Скролл
                  .scroll__icon

          section.about.fullscreen-section
            .container
              .about__left
                .userinfo
                  .avatar.userinfo__avatar
                    +image('content/me.jpeg', 'avatar__pic')
                  .userinfo__desc
                    +userinfo('userinfo')
              .about__right
                h4.about__subtitle Привет, меня зовут
                h2.section-title Катерина Иваненко
                p.about__desc Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
                p.about__desc--italic Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво! 
        
        section.profit.fullscreen-section
          .container.container--col
            .profit__desc
              h2.section-title--30px Чем я могу быть полезна вам
              .profit__text
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!
            ul.skills
              li.skills__item.skill-block
                h3.skill-block__title Front-end
                ul.skill-block__list
                  li.skill-block__item
                    .skill
                      span.skill__name HTML5
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.66s')
                        +circle-gradient
                  li.skill-block__item
                    .skill
                      span.skill__name CSS3
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.54s')
                        +circle-gradient
                  li.skill-block__item
                    .skill
                      span.skill__name Javascript
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.20s')
                        +circle-gradient
                  li.skill-block__item
                    .skill
                      span.skill__name Jquery и Vue.js
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.10s')
                        +circle-gradient
                h3.skill-block__title Workflow
                ul.skill-block__list
                  li.skill-block__item
                    .skill
                      span.skill__name GIT
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.85s')
                        +circle-gradient
                  li.skill-block__item
                    .skill
                      span.skill__name Terminal
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.80s')
                        +circle-gradient
                  li.skill-block__item
                    .skill
                      span.skill__name Gulp
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.50s')
                        +circle-gradient
                  li.skill-block__item
                    .skill
                      span.skill__name Webpack
                      svg.skill__percent(viewbox='0 0 100 100' preserveaspectratio='none')
                        circle.skill__circle.skill__circle--in(cx='50' cy='50' r='40')
                        circle.skill__circle.skill__circle--out(cx='50' cy='50' r='40' style='animation-delay: -.10s')
                        +circle-gradient
        
        section.works.fullscreen-section
          .container.container--col
            h2.section-title.section-title--black Мои работы
            .slider
              ul.slider__list
                li.slider__item.slide
                  .slide__left
                    +image('content/preview-1.jpg', 'slide__img', alt='Превью сайта школы')
                    .slide__pagination
                      +pagination('slide')
                    .slide__arrows.conrols
                      button.controls__item.controls__item--next.controls__item--grey
                        +icon('arrow-down', 'controls__next')
                      button.controls__item.controls__item--prev.controls__item--grey
                        +icon('arrow-down', 'controls__prev')
                  .slide__right
                    ul.slide__tags.tags
                      +tags('tags')
                    h3.section-title--30px Сайт школы образования
                    .slide__desc
                      p Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей! 
                    a.link-icon(href="https://loftschool.com" target="_blank")
                      +icon('link', 'link-icon__icon')
                      .link-icon__text Посмотреть сайт
        
        .section-wrap.section-wrap--bg--leaves
          section.reviews.fullscreen-section
            .container.container--col
              .reviews__header
                .reviews__header--left
                  h2.section-title Что обо мне говорят
                .reviews__header--right
                  .reviews__arrows.controls
                    button.controls__item.controls__item--prev.controls__item--rounded
                      +icon('arrow-down', 'controls__prev')
                    button.controls__item.controls__item--next.controls__item--rounded
                      +icon('arrow-down', 'controls__next')
              .reviews__slider
                ul.reviews__list.slider-review
                  li.slider-review__item
                    .slider-review__content.reviews__content
                      p Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .slider-review__user
                        .avatar.avatar--75px.slider-review__avatar
                          +image('content/dima.jpg', 'avatar__pic')
                        .slider-review__username
                          h4 Ковальчук Дмитрий
                          h5 Основатель LoftSchool
                  li.slider-review__item
                    .slider-review__content.reviews__content
                      p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .slider-review__user
                        .avatar.avatar--75px.slider-review__avatar
                          +image('content/vova.jpg', 'avatar__pic')
                        .slider-review__username
                          h4 Владимир Сабанцев
                          h5 Преподаватель

          section.contacts.fullscreen-section
            .container.container--col
              h2.section-title Связаться со мной
              .reviews__form
                form.form(action="")
                  .form__row
                    label.form__elem
                      span.form__label Введите ваше имя
                      input.form__input.form__input--name(type="text" name="name")
                    label.form__elem
                      span.form__label Введите ваш email
                      input.form__input.form__input--email(type="text" name="email")
                  .form__row
                    label.form__elem
                      span.form__label Сообщение к письму
                      textarea.form__input.form__input--textarea(type="text" name="msg")
                  .form__row
                    button.form__btn(type="submit") Отправить

        footer.footer
          .container
            .footer__left
              .footer__block
                .footer__cprt &copy; 2019
              .footer__block
                .footer__title
                  span.footer__title-name Катерина 
                  span.footer__title-surname Иваненко
                .footer__subtitle Личный сайт веб-разработчика
            .footer__right
              .footer__right-top
                +menu('menu', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
              .footer__right-bottom
                .footer__block.footer__block--margin
                  .footer__desc 
                    p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool
                  +socials('socials', 'socials--circle')
                .footer__block.footer__block--margin
                  .footer__desc 
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    span.footer__desc--italic--white Martin Golding
